# Cleaning IQ dataset

This script allow us to clean the dataset with the IQ for each day:
https://opendata.lillemetropole.fr/explore/dataset/indice-qualite-de-lair/export/

In [1]:
import pandas as pd
import os
import glob

print(os.getcwd())

C:\Users\avere\Documents\Cours\Projet PPAL\AirIQ2\0_ResearchWork\3_CreateAndCleanDatasets

### Import dataset (2018-2020)

In [2]:
df = pd.read_csv("HistoricDataset/iqDownload/indice-qualite-de-lair.csv", header=0, delimiter=';')
df.head()

,Geo Point,Geo Shape,qualif,type_zone,ObjectId,y_wgs84,val_so2,couleur,val_no2,val_o3,date_ech,id,source,valeur,val_pm25,code_zone,lib_zone,x_wgs84,the_geom,val_pm10
0,"50.6309,3.0468","{""type"": ""Point"", ""coordinates"": [3.0468, 50.6...",Moyen,commune,5048,50.6309,0,#FFFF00,2,1,2020-01-24T01:00:00+01:00,34501,Atmo HDF,5,0,59350,Lille,3.0468,01010000206A08000000000000AA76254100000040DFED...,5
1,"50.6309,3.0468","{""type"": ""Point"", ""coordinates"": [3.0468, 50.6...",Moyen,commune,5060,50.6309,0,#FFFF00,2,1,2020-01-25T01:00:00+01:00,34502,Atmo HDF,5,0,59350,Lille,3.0468,01010000206A08000000000000AA76254100000040DFED...,5
2,"50.6309,3.0468","{""type"": ""Point"", ""coordinates"": [3.0468, 50.6...",Bon,commune,5077,50.6309,0,#99E600,2,3,2020-01-27T01:00:00+01:00,34504,Atmo HDF,3,0,59350,Lille,3.0468,01010000206A08000000000000AA76254100000040DFED...,2
3,"50.6309,3.0468","{""type"": ""Point"", ""coordinates"": [3.0468, 50.6...",Bon,commune,5094,50.6309,0,#99E600,1,4,2020-01-28T01:00:00+01:00,34505,Atmo HDF,4,0,59350,Lille,3.0468,01010000206A08000000000000AA76254100000040DFED...,2
4,"50.6309,3.0468","{""type"": ""Point"", ""coordinates"": [3.0468, 50.6...",Bon,commune,5306,50.6309,0,#99E600,1,3,2020-02-13T01:00:00+01:00,34521,Atmo HDF,3,0,59350,Lille,3.0468,01010000206A08000000000000AA76254100000040DFED...,2

In [3]:
interestingFeatures = ["date_ech","valeur"]
df = df[interestingFeatures]
df.head()

                    date_ech  valeur
0  2020-01-24T01:00:00+01:00       5
1  2020-01-25T01:00:00+01:00       5
2  2020-01-27T01:00:00+01:00       3
3  2020-01-28T01:00:00+01:00       4
4  2020-02-13T01:00:00+01:00       3

In [4]:
df.columns = ["date", "IQ"]
df.head()

                        date  IQ
0  2020-01-24T01:00:00+01:00   5
1  2020-01-25T01:00:00+01:00   5
2  2020-01-27T01:00:00+01:00   3
3  2020-01-28T01:00:00+01:00   4
4  2020-02-13T01:00:00+01:00   3

### Import dataset (2015-2019)

In [5]:
dfh = pd.read_excel("HistoricDataset/MelHistoric/Indice_Lille_2015à2019.xlsx")
dfh.head()

,Unnamed: 0,Partiel diff,SO2,NO2,O3,PM10,Partiel prv J,Partiel J+1,Partiel J+2,Complet diff,SO2.1,NO2.1,O3.1,PM10.1,Complet prv J,Complet J+1,Complet J+2
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-01,5.0,1.0,2.0,3.0,5.0,5.0,4.0,NaN,5.0,1.0,2.0,3.0,5.0,5.0,NaN,NaN
2,2015-01-02,3.0,1.0,2.0,3.0,3.0,4.0,4.0,NaN,3.0,1.0,2.0,3.0,3.0,4.0,NaN,NaN
3,2015-01-03,3.0,1.0,2.0,2.0,3.0,4.0,3.0,4.0,3.0,1.0,2.0,2.0,3.0,4.0,NaN,NaN
4,2015-01-04,3.0,1.0,2.0,2.0,3.0,3.0,4.0,NaN,5.0,1.0,5.0,2.0,5.0,3.0,4.0,NaN

We want both dataset to have the same shape to mix them:

In [6]:
interestingFeatures = ["Unnamed: 0","Complet diff"]
dfh = dfh[interestingFeatures]
dfh.columns = ["date", "IQ"]
dfh = dfh.drop([0])
dfh.head()

        date   IQ
1 2015-01-01  5.0
2 2015-01-02  3.0
3 2015-01-03  3.0
4 2015-01-04  5.0
5 2015-01-05  4.0

In [7]:
from datetime import datetime
dfh['date'] = dfh['date'].apply(lambda x: datetime.fromisoformat(str(x)))
dfh.head()

        date   IQ
1 2015-01-01  5.0
2 2015-01-02  3.0
3 2015-01-03  3.0
4 2015-01-04  5.0
5 2015-01-05  4.0

In [8]:
df['date'] = df['date'].apply(lambda x: datetime.fromisoformat(str(x)[0:10]))
df.head()

        date  IQ
0 2020-01-24   5
1 2020-01-25   5
2 2020-01-27   3
3 2020-01-28   4
4 2020-02-13   3

### Mix both datasets

In [9]:
df = pd.concat([df,dfh]).drop_duplicates()

In [10]:
df.dtypes

date    datetime64[ns]
IQ             float64
dtype: object

In [11]:
df.dtypes

date    datetime64[ns]
IQ             float64
dtype: object

### NA values

In [12]:
df.isna().sum()

date    0
IQ      3
dtype: int64

In [13]:
df = df.fillna(method='ffill')
df.isna().sum()

date    0
IQ      0
dtype: int64

In [14]:
df.describe()

                IQ
count  1909.000000
mean      4.011524
std       1.360522
min       2.000000
25%       3.000000
50%       4.000000
75%       5.000000
max      10.000000

### Oder

In [15]:
df.dtypes

date    datetime64[ns]
IQ             float64
dtype: object

In [16]:
df['date'] = pd.to_datetime(df['date'],utc=True)

In [17]:
df = df.sort_values(by=['date'])

### Save dataset

In [18]:
df.to_csv("HistoricDataset/iqComplete/completeIQDataset.csv", index=False,sep=';')