# Cleaning Pollutants dataset

This script allow us to clean the dataset with the pollutant indice for each day:
https://www.atmo-hdf.fr/acceder-aux-donnees/historique-des-indices-de-l-air.html

In [1]:
import pandas as pd
import os
import glob

print(os.getcwd())

C:\Users\avere\Documents\Cours\Projet PPAL\AirIQ2\0_ResearchWork\3_CreateAndCleanDatasets

### Import dataset (2012-2020)

In [2]:
df = pd.read_csv("HistoricDataset/PollDownload/ArchivePollMEL.csv", header=0, delimiter=';')
df.head()

,Date,Indice de Lille,Dioxyde de soufre (SO2),Dioxyde d'azote (NO2),Ozone (O3),Poussieres PM10
0,13/04/2020,N/D,/,/,/,/
1,12/04/2020,5,/,1,5,4
2,11/04/2020,4,/,1,4,3
3,10/04/2020,5,/,1,5,5
4,09/04/2020,8,/,2,5,8

In [3]:
interestingFeatures = ["Date","Dioxyde d'azote (NO2)","Ozone (O3)","Poussieres PM10"]
df = df[interestingFeatures]
df.head()

         Date Dioxyde d'azote (NO2) Ozone (O3) Poussieres PM10
0  13/04/2020                     /          /               /
1  12/04/2020                     1          5               4
2  11/04/2020                     1          4               3
3  10/04/2020                     1          5               5
4  09/04/2020                     2          5               8

In [4]:
df.columns = ["date", "NO2", "O3", "PM10"]
df.head()

         date NO2 O3 PM10
0  13/04/2020   /  /    /
1  12/04/2020   1  5    4
2  11/04/2020   1  4    3
3  10/04/2020   1  5    5
4  09/04/2020   2  5    8

In [5]:
from datetime import datetime
df["date"] = pd.to_datetime(df["date"])
df.head()

        date NO2 O3 PM10
0 2020-04-13   /  /    /
1 2020-12-04   1  5    4
2 2020-11-04   1  4    3
3 2020-10-04   1  5    5
4 2020-09-04   2  5    8

In [6]:
df.dtypes

date    datetime64[ns]
NO2             object
O3              object
PM10            object
dtype: object

### NA values

In [7]:
import numpy as np
df = df.replace("/", np.nan)

In [8]:
df.isna().sum()

date     0
NO2     38
O3      37
PM10    49
dtype: int64

In [9]:
df = df.fillna(method='ffill')
df.isna().sum()

date    0
NO2     1
O3      1
PM10    1
dtype: int64

In [10]:
df.describe()

                       date   NO2    O3  PM10
count                  3026  3025  3025  3025
unique                 3026     5     9    10
top     2018-01-05 00:00:00     2     3     3
freq                      1  1585  1354   980
first   2012-01-01 00:00:00   NaN   NaN   NaN
last    2020-12-04 00:00:00   NaN   NaN   NaN

### Order

In [11]:
df = df.sort_values(by=['date'])

### Save dataset

In [12]:
df.to_csv("HistoricDataset/PollDownload/ArchivePollMELClean.csv", index=False,sep=';')